/* Body Style */
body{
  font-family: Verdana;
  background-color: black;
  text-align: center;
}
 /*Man header style */
.main_header{
  color: white;
  font-weight: normal;
  font-size: 50px;
}

/* Subheader Style */
.subheader{
  font-weight: 300;
  font-size: 42px;
  color: white;
}

/*Paragraph Style */
p{
  font-size: 21px;
  color: gray;
}

/*Download link style */
.download_link p{
  color: aquamarine;
  font-size: 16px;
}

/*Footer Style */
.footer{
  text-align: right;
  color: gray;
}
